/********************************************************
  CONTENTS
********************************************************/
main.main, main.sub{
  margin-top: -55px;
}
.section_cont{
  max-width: 1000px;
  // min-height: calc(100vh - 68px);
  margin: 0 auto;
  .tit_cont{
    position: relative;
    padding: 20px 18px;
    font-size: 15px;
  }
}
/* MainImage */
.section_visual{
  position: relative;
  &::before{
    content: '';
    display: block;
    padding-top: 150%;
  }
  .img_visual{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: #eee;
    &::before{
      content: '';
      display: block;
      padding-top: 150%;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.79) 100%);
    }
    .img{
      position: absolute;
      top: 0;
      width:100%;
      height: 100%;
    }
    img{
      width: 100%;
    }
  }
  .info_visual{
    position: absolute;
    bottom: 0;
    padding: 40px 10px 15px;
    font-weight: normal;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.849475) 50%, rgba(0,0,0,0.792332) 51%, rgba(0,0,0,0) 100%);
  }
  .tit_visual{
    font-size: 15px;
    color: white;
  }
  .desc_visual{
    margin-top: 5px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    color: #ddd;
  }
}

/* Grid Card */
.list_cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  column-gap: 12px;
  padding: 0 18px;
  .link_card{
    display: block;
    overflow: hidden;
    position: relative;
    display: block;
    padding-top: 134%;
    .inner_card{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-width:1px 0;
      text-align: center;
      white-space: nowrap;
      background: #eee;
      &::before{
        content: '';
        display: block;
        padding-top: 150%;
      }
    }
    .vote_card{
      position: absolute;
      top: 10px;
      left: 13px;
      padding: 0 6px 2px 2px;
      border-radius: 9px;
      color: #333;
      font-size: 14px;
      background: white;
      box-shadow: 1px 1px 1px #aaa;
      &::before{
        display: inline-block;
        color: red;
        content: '★';
        
      }
    }
    .thumb_card{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

/* button */
.box_btn_more{
  padding: 12px 18px;
  .btn_more{
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #222;
  }
}
/* top button */
.btn_go_top{
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 1px 8px 0 rgba(255, 255, 255, 0.5);
  transform: translateY(100px);
  transition: transform .2s;
  will-change: transform;
  &.on{
    bottom: 65px; 
    transform: translateY(0px);
  }
}


/* bottom nav */
.wrap_nav_bottom{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  box-shadow: 0 1px 8px 0 rgba(255, 255, 255, .5);
}
.list_nav_bottom{
  display: flex;
  .item_nav_bottom{
    flex: 1;
    font-size: 10px;
    text-align: center;
    color: #fff;
    .text{
      display: block;
      line-height: 10px;
    }
  }
  .link_nav_bottom{
    display: block;
    padding:3px 0;
  }
  // .link_category{
  //   background: url(../img/ico_category.svg) no-repeat center 3px/ 27px;
  // }
  // .link_trend{
  //   background: url(../img/ico_trend.svg) no-repeat center 3px/ 27px;
  // }  
  // .link_home{
  //   background: url(../img/ico_home.svg) no-repeat center 3px/ 27px;
  // }
  // .link_favorite{
  //   background: url(../img/ico_favorite.svg) no-repeat center 3px/ 27px;
  // }
  // .link_my{
  //   background: url(../img/ico_my.svg) no-repeat center 3px/ 17px;
  // }
}