.sub{
  min-height: calc(100vh - 68px);
}
.sub_visual{
  display: block;
  position: relative;
  height: 500px;
  background-size: auto 100%;
  background-position: center;
  &::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    content: '';
  }
}
.area_poster{
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 100%;
  padding: 0 10px;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.thumb_sub{
  position: absolute;
  width: 100px;
}
.info_visual{
  min-height: 150px;
  padding: 10px 10px 10px 110px;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
  span{
    display: block;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tit_thumb{
    display: block;
    font-size: 14px;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tit_original{
    margin-top: 2px;
    font-size: 12px;
    color: #999;
  }
  .date{
    margin-top: 7px;
    color: cyan;
  }
}

.sub_cont{
  padding: 40px 18px 25px;
  .copy{
    display: block;
    padding-bottom: 20px;
  }
  .overview{
    font-size: 13px;
    line-height: 23px;
  }
}  

  
  
  
  
  

